<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type="text/css" href="views/style.css">
    <title>Answer</title>
  </head>
  <body>
  <p>This is the answer,</p>
  <h1><%=@answer%></h1>
  </body>
</html>